<!doctype html>

<title>{{ name }}</title>
<h1>{{ name }}</h1>

<h2>Profit/hr: {{ profit / time * 60 * 60 }}</h2>

<ul>
    <li>Production cost: {{ prodcost }}</li>
    <li>Market value: {{ value }}</li>
    <li>Raw profit: {{ profit }}</li>
    <li>Build time (s): {{ time }}</li>
</ul>


<h3>Materials:</h3>
<table>
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total Cost</td>
    </tr>
    {% for mat in materials %}
    <tr>
        <td>{{ materials[mat][1] }}</td>
        <td>{{ materials[mat][0] }}</td>
        <td>{{ prices[mat] }}</td>
        <td>{{ prices[mat] * materials[mat][0] }}</td>
    </tr>
    {% endfor %}
</table>